<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Authentication - Chitter</title>
  </head>
  <body>
    <h1>Chitter</h1>
      <form action="/sessions" method="post" >
        <h3>Email<input type="email" name="email" /><h3>
        <h3>Password<input type="password" name="password" /><h3>
        <input type="submit" value="Sign In" />
      </form>
  </body>
</html>